/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@400;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #282e2b;
  color: #fff;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
h1,
h2 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  text-shadow: 2px 4px 12px rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 44px;
  margin-bottom: 24px;
}
p {
  text-align: justify;
  margin-bottom: 16px;
}
section {
  padding: 32px 0;
}

/* container */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* Flex */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */
header {
  padding: 24px 0;
}

/* Date */
.date {
  margin-bottom: 32px;
}
.date .tag {
  color: #ff0248;
}
.date small {
  font-family: serif;
  font-weight: 700;
  font-size: 22px;
}
